/* =========== font install ================ */

.strawford-bold {
  font-family: "strawford-bold";
}

.strawford-normal {
  font-family: "strawford-normal";
}

.strawford-light {
  font-family: "strawford-light";
}

.strawford-bold-italic {
  font-family: "strawford-bold-italic";
}

.strawford-normal-italic {
  font-family: "strawford-normal-italic";
}

.strawford-light-italic {
  font-family: "strawford-light-italic";
}

p {margin-bottom: 1rem;}

.ch1, .ch2, .ch3, .ch4, .ch5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

.ch1 {
  margin-top: 0;
  font-size: 11.089rem;
}

.ch2 {font-size: 6.854rem;}

.ch3 {font-size: 4.236rem;}

.ch4 {font-size: 2.618rem;}

.ch5 {font-size: 1.618rem;}

.small, .text_small {font-size: 0.618rem;}

.title {
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

/* ================== Layout ================== */

.loading-text {
  margin: 0;
  position: absolute;
  width: 60rem;
  text-align: center;

  opacity: 0;
  font-family: 'strawford-bold';
}

.col {
  border: solid 1px;
}

.row {
  border: solid 1px red;
}

.loading-text-container {
  display: flex;
  justify-content: center;
  width: 60rem; height: 90px;
  margin: auto;
  overflow: hidden;
}

.loading-screen {
  z-index: 999;
  display: flex; 
  justify-content: center;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  background-color: #F6F2E3;
}

.hero {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;

  background-color: #F6F2E3;
}

.hero-container-1 {
  padding-top: 3rem;
  z-index: 2;
}
/* ================= Scroll-bar ==================*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #494949;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

/* ================= Shadow ==================*/

.shadow {
  box-shadow: 
  0 4.7px 4.9px -18px rgba(0, 0, 0, 0.018),
  0 11.8px 12.5px -18px rgba(0, 0, 0, 0.026),
  0 24.1px 25.5px -18px rgba(0, 0, 0, 0.033),
  0 49.6px 52.6px -18px rgba(0, 0, 0, 0.041),
  0 136px 144px -18px rgba(0, 0, 0, 0.06)
}

/* ================= Buttons and links ==================*/

.l-link:link, .l-link:visited {
  z-index: 2;
  position: relative;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.l-link:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 100%;
  background-color: black;
  transition: 0.5s;
}

.l-link:hover {
  z-index: 2;
  color: white;
  transition: 0.3s;
}

.l-link:hover:after{
  z-index: -1;
  width: 100%;
  left: 0;
}

