@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "strawford-black";
  src: local("strawford-black"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-Black.otf") format("opentype");
}


@font-face {
  font-family: "strawford-bold";
  src: local("strawford-bold"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "strawford";
  src: local("strawford"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "strawford-light";
  src: local("strawford-light"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-Light.otf") format("opentype");
  font-weight: light;
}

@font-face {
  font-family: "strawford-bold-italic";
  src: local("strawford-bold-italic"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "strawford-italic";
  src: local("strawford-italic"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "strawford-light-italic";
  src: local("strawford-italic"),
  url("/src/components/fonts/StrawfordWebfont/Strawford-LightItalic.otf") format("opentype");
  font-weight: light;
  font-style: italic;
}


@font-face {
  font-family: "be-vietnam-extra-bold";
  src: local("be-vietnam-extra-bold"),
  url("/src/components/fonts/BeVietnam/BeVietnamPro-ExtraBold.ttf") format("truetype");
}
/* ======================== link hover ===================== */

.l-link:link, .l-link:visited {
  z-index: 2;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.l-link:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: 0.5s;
}

.l-link:hover {
  z-index: 2;
  transition: 0.3s;
}

.l-link:hover:after{
  z-index: -1;
  width: 103%;
  left:0;
}
/* 
========================================= */

.display-none {
  @apply hidden;
}

body * {
  @apply transition-colors duration-100;
}