@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================== link hover ===================== */

.l-link:link, .l-link:visited {
  z-index: 2;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.l-link:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: 0.5s;
}

.l-link:hover {
  z-index: 2;
  transition: 0.3s;
}

.l-link:hover:after{
  z-index: -1;
  width: 103%;
  left:0;
}


/* 
========================================= */

.strawford-italic {
  font-style: italic;
}

.strawford-thin-italic {
  font-style: italic;
  font-weight: 100;
}

.display-none {
  @apply hidden;
}

body * {
  @apply transition-colors duration-100;
}