@tailwind base;
@tailwind components;
@tailwind utilities;


/* ================== global ==================== */
.display-none {
  @apply hidden;
}

body * {
  @apply transition-colors duration-100;
}


/* ================== Font ==================== */

.strawford {
  font-style:normal;
  font-weight: 400
}
.strawford-black {
  font-weight: 700
}
.strawford-bold {
  font-style:normal;
  font-weight: 600
}
.strawford-thin {
  font-style:normal;
  font-weight: 300
}
.strawford-light {
  font-style:normal;
  font-weight: 200
}

.be-vietnam-xbold{
  font-weight: 700;
}



/* ================= Scroll-bar ==================*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #494949;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
