@font-face {
    font-family: 'archiaregular';
    src: url('../fonts/archia/regular/archia-regular-webfont.eot');
    src: url('../fonts/archia/regular/archia-regular-webfont.woff2') format('woff2'),
         url('../fonts/archia/regular/archia-regular-webfont.woff') format('woff'),
         url('../fonts/archia/regular/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'archiathin';
    src: url('../fonts/archia/thin/archia-thin-webfont.eot');
    src: url('../fonts/archia/thin/archia-thin-webfont.woff2') format('woff2'),
         url('../fonts/archia/thin/archia-thin-webfont.woff') format('woff'),
         url('../fonts/archia/thin/archia-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'archiamedium';
    src: url('../fonts/archia/medium/archia-medium-webfont.eot');
    src: url('../fonts/archia/medium/archia-medium-webfont.woff2') format('woff2'),
         url('../fonts/archia/medium/archia-medium-webfont.woff') format('woff'),
         url('../fonts/archia/medium/archia-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'archiabold';
    src: url('../fonts/archia/bold/archia-bold-webfont.eot');
    src: url('../fonts/archia/bold/archia-bold-webfont.woff2') format('woff2'),
         url('../fonts/archia/bold/archia-bold-webfont.woff') format('woff'),
         url('../fonts/archia/bold/archia-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------Main type------------------------------- */
/* 4k landscape & portrait >600px */

@media only screen and (min-width: 600px) and (orientation:landscape) {

    /* ----------------Type-scale---------------- */
    h1 {
        font-family: 'archiamedium';
        font-style: normal;
        font-size: 6.5vw;
        margin:0;
    }
    h2 {
        font-family: 'archiaregular';
        font-size: 4.33vw;
    } 
    h3 {
        font-family: 'archiaregular';
        font-size: 2.89vw;
    }
    h4 {
        font-family: 'archialight';
        font-size: 1.92vw;
    }
    h5 {
        font-family: 'archialight';
        font-size: 1.28vw;
    }
    h6 {
        font-family: 'archialight';
        font-size: 0.86vw;
        margin:0;
        margin-bottom: 2.5vh;
    }
  
/* ==============================fader================================= */

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

@keyframes fade-out {
from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
opacity: 0;
animation-name: fade-out;
}

#fader.fade-in {
opacity: 1;
animation-name: fade-in;
}

/* ======================header========================= */

*{
    list-style-type: none;
  }

.header {
    margin-bottom: 15vh;
    margin-right: 8vw;
    margin-left: 8vw;

    padding:0;

    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2vw;

    font-size: 1.28vw;
    font-family: 'archiamedium';
}

.header li:nth-of-type(1){
    margin-right: auto;
}

.header li:nth-of-type(5){
    background-color: black;
}

.header li:nth-of-type(5) .main_link:link{
    color: white;
}

.header li:nth-of-type(5) .main_link:visited {
    color: white;
}

.header li:nth-of-type(5) .main_link:hover {
    color: #009700;
    transition: 0.3s;
}

.main_link {
    display: inline-block;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    transition: 0.3s;
  }
  .main_link:link {
      color:black;
      text-decoration: none;
      transition: 0.3s;
  }
  .main_link:visited {
      color:black;
      transition: 0.3s;
  }
  .main_link:hover {
      color: #009700;
      transition: 0.3s;
  }


/* ======================footer===================== */

/* =============Footer============ */

footer {
    z-index:1;
    margin:0;
    width: 100%;
    height: 100vh;
    position: sticky;
    bottom:0;
    left: 0; 
    background-color: black;
    color: white;
}

.footer_container {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 10vh;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8vh;
}

.footer_col {
    width: 40%;
}

footer h2 {
    margin-bottom: 3vh;
}

footer ul {
    list-style: none;
}

.footer_col ul li {
    margin-bottom: 2vh;
}

.footer_col ul li a:link {
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.3s ease-in-out;
}

.footer_col ul li a:visited {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.footer_col ul li a:hover{
    color: #009700;
    padding-left: 10px;
}

.license {
    width: 80vw;
    bottom: 2vh;
    text-align: center;

    font-size: 0.86vw;
    font-family: 'archiaregular';
}

.license a:link{
    color: #009700;
}

.license a:visited{
    color: white;
}

  /* ===================================== */
  body{
    padding: 0;
    margin:0;
  }

  
.section {
    text-align:center;
    font-size: 3em;
}

p {
  padding-bottom: 1vh;
}

ul {
  padding-bottom: 1vh;
}

h1 {
    margin-right: 10vw;
    margin-top: 9vh;
    font-size: 6.5vw;
    font-family: 'archiamedium';
}

h3 {
    margin-right: 10vw;
    margin-top: 8vh;
    font-size: 2.89vw;
    font-family: 'archiathin';
  }

h4 {
  font-family: 'archiaregular';
  font-size: 1.92vw;
}

.text_bold {
  font-family: 'archiabold'
}

li {
  padding: 0.2vh;
}

body {
    background-color: black;
}

.body_container{
    background-color: white;
    padding:0px;
    padding-top: 10vh;
    padding-bottom: 25vh;
    font-family: 'archiaregular';
    color: black;
}

*{
    margin:0;
    padding:0;
}

.box{
    background-color: white;
    z-index:3;
    position: relative;
}

}
  /* ========================================================================================================= */

.table_of_content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.content_child:link {
    text-decoration: none;
    color: black;
}

.content_child:visited {
    color: black;
}
.content_child:hover {
    color: green;
    transition: 0.3s;
}

.content_title {
    padding-bottom: 30px;
}